<!--
  <div class="container">
  <nav id="" class="navbar navbar-custom">
    <a class="navbar-brand" href="#">
      <p class="logo">{{title}}</p>
    </a>
  </nav>
  <div class="container"></div>
 <router-outlet>
   
 </router-outlet>

 <app-course></app-course>



</div>

<app-favorite [isFavorite]="post.isFavorite" (change)="onFavioteChange($event)">
  <ng-container id="heading">heading</ng-container>
  <div id="body">
    <h2>Body</h2>
    <p>Some Content here ...</p>
  </div>
</app-favorite>
-->
<like [likeCount]="tweet.likeCount" [isLike]="tweet.isLike"></like>


<app-favorite [isFavorite]="post.isFavorite" (change)="onFavioteChange($event)" ></app-favorite>

<div [hidden]="courses.length == 0"> List of Courses</div>


<div [hidden]= "courses.length >0" >No Courses</div>-->

<div class="nav nav-pills">
  <li [class.active]="viewMode=='map'" (click)="viewMode = 'map'">
    <a >Map View</a>
  </li>
  <li [class.active]="viewMode=='list'"  (click)="viewMode = 'list'">
    <a >List View </a>
  </li>
</div>
<div [ngSwitch] = "viewMode" >
  <div *ngSwitchCase="'map'" >Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault >Otherwise</div>
</div>

<ul>
  <li *ngFor="let course of courses; index as i; even as e" > 
   {{i}} - {{course.name}} <span *ngIf="e" >(Even)</span>
   <button (click) = "removeCourse(course)">Remove</button>
  </li>
</ul>
<button (click) = "addCourse()">Add</button>

