<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" id="oldPassword" type="text" class="form-control">
    </div>
    <div *ngIf="oldPassword.pending">checking....</div>
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
        <div *ngIf="oldPassword.errors.required"> old Password is required. </div>
        <div *ngIf="oldPassword.errors.oldPasswordValidator"> Old Password are ivalid. </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" id="newPassword" type="text" class="form-control">
    </div>
    <div *ngIf="newPassword.pending">checking....</div>
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
        <div *ngIf="newPassword.errors.required"> New Password is required. </div>
        <div *ngIf="newPassword.errors.newPasswordValidator"> New Password are ivalid. </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" id="confirmPassword" type="text" class="form-control">
    </div>
    <div *ngIf="confirmPassword.pending">checking....</div>
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
        <div *ngIf="confirmPassword.errors.required"> Confirm Password is required. </div>
        <div *ngIf="confirmPassword.errors.newPasswordValidator"> Confirm Password are ivalid. </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || form.pending"> Sign Up</button>
</form>