<div id='map'></div>
<pre id='distance' class='ui-distance'>Click to place a marker</pre>
<pre class="button">
    <button class="btn btn-primery " (click) = "changeAngle()" >
        change angle
    </button>
</pre>
<form class="color-form"  #form >

     <div>
        <input type='checkbox' name='filters' (change)='showStations();' value='red' checked> red</div>
    <div>
        <input type='checkbox' name='filters' (change)='showStations();' value='green' checked> green</div>
    <div>
        <input type='checkbox' name='filters' (change)='showStations();' value='orange' checked> orange</div>
    <div>
        <input type='checkbox' name='filters' (change)='showStations();' value='yellow' checked> yellow</div>
    <div>
        <input type='checkbox' name='filters' (change)='showStations();' value='blue' checked> blue</div>
</form>