@import "~bootstrap/dist/css/bootstrap.css";

#map { position:absolute; top:0; bottom:0; width:100%; }



pre.ui-distance {
    position:absolute;
    bottom:10px;
    left:10px;
    padding:5px 10px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    font-size:11px;
    line-height:18px;
    border-radius:3px;
    }

    pre.button {
        position:absolute;
        bottom:40px;
        left:10px;
        padding:opx opx;
        background:rgba(0,0,0,0.0);
        color:#fff;
        font-size:11px;
        line-height:15px;
        border-radius:0px;
        }
      

        .color-form{
        position:absolute;
        top:10px;
        right:10px;
        padding:opx opx;
        background: #fff;
        color:#000;
        font-size:11px;
        line-height:15px;
        border-radius:0px;
            }
    


        colors {
            position: absolute;
            top: 0;
            right: 0;
            background: #fff;
            width: 150px;
            padding:5px;
        }